.nav-bar {
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    width: 90%;

}

.nav {
    padding: 5px;
    margin: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.nav:hover {
    color: white;
    background-color: rgb(4, 4, 47);
    border-radius: 6px;
    cursor: pointer;
}

.logo>img {
    width: 50px;
}

.logo {
    width: 6%;
}

.header {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(125, 196, 239);
}

.content>h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-transform: capitalize;
}

.content>p {
    font-size: 14px;
    color: white;

}

.content>button {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: rgb(4, 4, 47);
    border-radius: 5px;
    padding: 2%;
}

.main {
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;

}

.heading {
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin-left: 12%;
    color: darkblue;
}

.main>h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 11%;
    padding-bottom: 18%;
    text-align: center;
}

/* Media Querry */
/* For Mobile */
@media screen and (min-width:320px) and (max-width:425px) {
    .navbar-mobile {
        background-color: white;
        height: 11vh;
        display: flex;

    }

    .elements {
        width: 100%;
        text-align: center;
        color: rgb(91, 90, 90);
    }

    .navbar-mobile>.elements:hover {
        color: darkblue;
        cursor: pointer;
        border-top: 4px solid darkblue;
    }

    .navbar-tablet,
    .navbar-laptop {
        display: none;
    }
}

/* For Tablet */

@media screen and (min-width:426px)and (max-width:768px) {
    .navbar-tablet {
        background-color: white;
        height: 11vh;
        display: flex;

    }

    .elements {
        width: 100%;
        text-align: center;
        color: rgb(91, 90, 90);
    }

    .navbar-tablet>.elements:hover {
        color: darkblue;
        cursor: pointer;
        background-color: rgb(125, 196, 239);
        border-radius: 9px;
    }

    .navbar-laptop,
    .navbar-mobile {
        display: none;
    }
}

/* For Laptop */
@media screen and (min-width:769px) {

    .navbar-laptop {
        background-color: white;
        height: 11vh;
        display: flex;

    }

    .elements {
        width: 100%;
        text-align: center;
        color: rgb(91, 90, 90);
    }

    .navbar-laptop>.elements:hover {
        color: darkblue;
        cursor: pointer;
    }

    .navbar-tablet,
    .navbar-mobile {
        display: none;
    }

}